
@import url('https://fonts.googleapis.com/css?family=Arsenal');

.landing {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 600px 300px;
  grid-gap: 20px;
  padding-bottom: 15px;
  margin-top: 35px;
}

.hero-title {
  grid-column: 1 / -1;
  margin-top: 10px;
  color: white;
  text-shadow: 6px 6px 3px black;
  padding-top: 50px;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/assets/images/guitar-musical-instrument-string-instrument-159266.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: #efe6ef;
  font-family: 'Arsenal', sans-serif;
  font-size: 400%;
  text-transform: uppercase;
}

.point:nth-child(2) {
  color: #efe6ef;
  grid-column: 2 / 5 ;
  grid-template-rows: 2 / -1 ;
  text-align: center;
}

.point:nth-child(3) {
  color: #efe6ef;
  grid-column: 5 / 9;
  grid-template-rows: 2 / 3;
  text-align: center;
}

.point:nth-child(4) {
  color: #efe6ef;
  grid-column: 9 / 12;
  grid-template-rows: 2 / 3;
  text-align: center;
}

.music-icon {
  font-size: 250%;
}

/*//////////////////////////////////////*/

@media only screen and (max-width: 700px) {

  .landing {
    grid-template-rows: 600px;
  }

  .hero-title {
    background-size:cover;
    background-position: center;
    grid-column: 1 / -1;
  }

  .point:nth-child(2) {
    grid-column: 2 / -2;
    padding: 0 50px;
  }

  .point:nth-child(3) {
    grid-column: 2 / -2;
    padding: 0 50px;
  }

  .point:nth-child(4) {
    padding: 0 50px;
    grid-column: 2 / -2;
  }
}

@media only screen and (max-width: 1023px) {

  .point:nth-child(2) {
    font-size: 90%
  }

  .point:nth-child(3) {
    font-size: 90%
  }

  .point:nth-child(4) {
    font-size: 90%
  }
}
